*.py[co]
*.sw[po]
*.bak
*.orig
*~
.ropeproject/
.project
.pydevproject
wsgi/myproject/media
wsgi/myproject/*/migrations
.corn.lock
wsgi/myproject/env/
wsgi/static/bower_components
wsgi/myproject/db.sqlite3
dump.json
