{% extends 'layout.html' %}
{% block title %} 404 {% endblock %}


{% block head %}

<style>
h1, h3, p {
    text-align: center;
    font-family: "Trebuchet MS";
}

h1 {
    padding-top:10%;
    font-family: "Comic Sans MS";
    font-size: 700%;
}
</style>

{% endblock %}

{% block body %}

<div class="container">
    <h1>404 error</h1>

    <h3>Page Not Found</h3>
    <p>The page you are trying to visit doesn't exist or has been removed.</p>
    <br>
    <p><a class="btn btn-default btn-lg" href="{% url 'index' %}">Go Home</a></p>
</div>

{% endblock %}
