<div class="panel {{panel_default}}">
    <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-controls="collapseOne">
            View More Detail
            </a>
        </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div id="myDiv1" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div id="myDiv2" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
                </div>
            </div>
        </div>
    </div>
</div>

