{% extends 'layout.html' %}
        {% block title %}
        Essays
        {% endblock %}

        {% block head %}
        <style>
            a.essay-item{
                Text-decoration:none;
                color:black;
            }
            div.essay-item:hover{
                 box-shadow: 5px 5px 5px 3px #888888;
            }
        </style>
        {% endblock %}

        {% block body %}
        <div class="container">
                    <h3 class="">Essay List
                        <span class="pull-right"><a class="btn btn-sm {{btn_primary}}" href="register">Register</a></span>
                    </h3>
            <legend></legend>
            <div class="row">
            {% for essay in essaysets %}
                <div class="col-sm-3">
                    <div class="essay-item">
                        <a class="essay-item" href="{% url 'essay:detail' essay.pk %}">
                            <div class="panel {{panel_default}}">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                {{ essay.name }}
                                </h4>
                            </div>
                            <div class="panel-body">
                                      {{ essay.info|truncatechars:150 }}
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
            {% endif %}

            {% endfor %}
            </div>
        </div>

    {% endblock %}
</html>

