<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <title>Aes</title>
    </head>
    <body>
        <div class="container">
            <legend>Essay List <span class="pull-right"><a class="btn btn-sm" href="register">Register</a></span></legend>
            {% for essay in essaysets %}
            <div class="panel panel-success">
                <div class="panel-heading">{{ essay.name }}</div>
                <ul class="list-group">
                    <li class="list-group-item">Info: {{ essay.info }}</li>
                    <li class="list-group-item">Evalute: <a class="btn btn-sm btn-success" href="{{ essay.pk }}">Click Here</a></li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </body>
</html>

