{% extends 'layout.html' %}
        {% block title %}
        {% if search %}{{query}}{% else %}Essays{% endif %}
        {% endblock %}

        {% block head %}
        <style>
            a.essay-item{
                Text-decoration:none;
                color:black;
            }
            div.essay-item:hover{
                 box-shadow: 5px 5px 5px 0.1px #888888;
                 transform: scale(1.09);
                 z-index: 33;
            }
        </style>
        {% endblock %}

        {% block body %}
        <div class="container">
                    <h3 class="">Essay {% if search %}Search {% endif %}List
                        {% if request.user.is_authenticated %}
                        <span class="pull-right"><a class="btn btn-sm {{btn_primary}}" href="register">Register</a></span>
                        {% endif %}
                    </h3>
            <legend></legend>
            <div class="row">
            {% for essayModel in essaysets %}
                <div class="col-sm-3">
                    <div class="essay-item">
                        <a class="essay-item" href="{% url 'essay:detail' essayModel.pk %}">
                            <div class="panel {{panel_default}}">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                {{ essayModel.name }}
                                </h4>
                            </div>
                            <div class="panel-body">
                                      {{ essayModel.info|truncatechars:150 }}
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
            {% endif %}

            {% endfor %}
            </div>
            {% load pagination %}
            <div class="text-center">{% pagination essaysets 'e_page' %}</div>

        </div>

    {% endblock %}
</html>

