{% extends 'layout.html' %}
{% block title %}
App List
{% endblock %}

{% block body %}
<div class="container">
    <legend>App List </legend>

    <div class="panel panel-success">
        <div class="panel-heading">AES</div>
        <ul class="list-group">
            <li class="list-group-item">Info: Automatic Essay Score</li>
            <li class="list-group-item">Evalute: <a class="btn btn-sm btn-success" href="{% url 'essay:index' %}">Click Here</a></li>
        </ul>
    </div>

</div>

{% endblock %}

